<li><a href="https://www.eclipse.org/projects/" target="_self">Projects</a></li>
<li><a href="https://www.eclipse.org/org/workinggroups/" target="_self">Working Groups</a></li>
<li><a href="https://www.eclipse.org/membership/" target="_self">Members</a></li>
<li class="dropdown visible-xs">
  <a href="#" data-toggle="dropdown" class="dropdown-toggle">Community <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="http://marketplace.eclipse.org">Marketplace</a></li>
    <li><a href="http://events.eclipse.org">Events</a></li>
    <li><a href="http://www.planeteclipse.org/">Planet Eclipse</a></li>
    <li><a href="https://www.eclipse.org/community/eclipse_newsletter/">Newsletter</a></li>
    <li><a href="https://www.youtube.com/user/EclipseFdn">Videos</a></li>
    <li><a href="https://blogs.eclipse.org">Blogs</a></li>
  </ul>
</li>
<li class="dropdown visible-xs">
  <a href="#" data-toggle="dropdown" class="dropdown-toggle">Participate <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="https://bugs.eclipse.org/bugs/">Report a Bug</a></li>
    <li><a href="https://www.eclipse.org/forums/">Forums</a></li>
    <li><a href="https://www.eclipse.org/mail/">Mailing Lists</a></li>
    <li><a href="https://wiki.eclipse.org/">Wiki</a></li>
    <li><a href="https://wiki.eclipse.org/IRC">IRC</a></li>
    <li><a href="https://www.eclipse.org/org/research/">Research</a></li>
  </ul>
</li>
<li class="dropdown visible-xs">
  <a href="#" data-toggle="dropdown" class="dropdown-toggle">Eclipse IDE <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="https://www.eclipse.org/downloads">Download</a></li>
    <li><a href="https://www.eclipse.org/eclipseide">Learn More</a></li>
    <li><a href="https://help.eclipse.org">Documentation</a></li>
    <li><a href="https://www.eclipse.org/getting_started">Getting Started / Support</a></li>
    <li><a href="https://www.eclipse.org/contribute/">How to Contribute</a></li>
    <li><a href="https://www.eclipse.org/ide/">IDE and Tools</a></li>
    <li><a href="https://www.eclipse.org/forums/index.php/f/89/">Newcomer Forum</a></li>
  </ul>
</li>
{% include nav_more.html %}
